body {
  background-color: $gray-100;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Kaisei HarunoUmi", serif;
}

main {
  padding-bottom: 50px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: $cyan-800;
}

input:focus,
textarea:focus,
button:focus,
.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 2px 1px #0000005e !important;
  border: 1px solid $primary !important;
}

.nav-tabs .nav-item .nav-link {
  color: #6b7075;
}

.nav-tabs .nav-item .nav-link.active {
  color: $primary;
  background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: $gray-800;
  border: 1px solid $primary;
  color: #fff;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.avatar-wrapper {
  width: 60px;
  height: 60px;
}

.avatar {
  border-radius: 50%;
}

.post-content p {
  text-align: justify;
}

@media (max-width: 768px) {
  .card-image {
    max-height: 200px;
  }
}

.container-slim {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .container-slim {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 990px) {
  .search-bar {
    width: 360px;
  }
}

.comments-modal {
  background-color: #00000028;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.comments-wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  background-color: #fff;
  box-shadow: -3px 0 7px 0px #00000050;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

@media (min-width: 600px) {
  .comments-wrapper {
    width: 500px;
  }
}

.hidden {
  visibility: hidden;
}

.comments-wrapper-hidden {
  transform: translateX(100%);
}
